<!DOCTYPE html>
<html lang='pt-br'>

<head>
    <title>{% block title %} {% endblock %}</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{url_for('static' ,filename = './CSS/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static' ,filename = './CSS/style.css')}}">
</head>

<body class="{% block bodytype %} {% endblock %}">

    <div id="header">
        <hr style="color:#7279AD; border: 0px; border-style: solid;border-color: #7279AD;">
        <img src="../static/imagens/logo.png" alt="logo" id="logo">
        <div id="nav">
            <a href="/">Home |</a>
            <a href="pagina_2">Quem Somos |</a>
            <a href="pagina_1">Contato</a>
        </div>
    </div>  

    {% block content %}

    
    {% endblock %}

</body>

</html>