{% extends 'template.html' %}

{% block title %}
<title>Unes Universidade - Quem somos</title>
{% endblock %}

{% block content %}

<div>
    <h1>Quem somos</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti at nobis fugiat magni asperiores
        velit, blanditiis minima laboriosam sit ex culpa esse veritatis reprehenderit modi recusandae saepe ipsam quae!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti at nobis fugiat magni asperiores
        velit, blanditiis minima laboriosam sit ex culpa esse veritatis reprehenderit modi recusandae saepe ipsam quae!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti at nobis fugiat magni asperiores
        velit, blanditiis minima laboriosam sit ex culpa esse veritatis reprehenderit modi recusandae saepe ipsam quae!
    </p>

    <h2>5 Motivos para estudar</h2>
    <p style="padding: 20px;">1.Material<br>2.Tablet em sala de aula<br>3.Professores renomados<br>4.Universidade bem
        avaliada<br>5.Ótima localização</p>
    <hr>

    <h1>Objetivos</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti at nobis fugiat magni asperiores
        velit, blanditiis minima laboriosam sit ex culpa esse veritatis reprehenderit modi recusandae saepe ipsam quae!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti at nobis fugiat magni asperiores
        velit, blanditiis minima laboriosam sit ex culpa esse veritatis reprehenderit modi recusandae saepe ipsam quae!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti at nobis fugiat magni asperiores
        velit, blanditiis minima laboriosam sit ex culpa esse veritatis reprehenderit modi recusandae saepe ipsam quae!
    </p>
    <p id="copyright">Todos os direitos reservados</p>
</div>

{% endblock %}